@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/forgot.css">
    <link rel="stylesheet" href="~/css/global.css">
    <title>Document</title>
</head>

<body>
    <form method="post" asp-action="EnviarCodigoUsu" asp-asp-controller="SenhaController" class="container">
        <div class="header">
            <h1 class="titulo">ESQUECEU SUA SENHA ?</h1>
            <p class="subtitulo">Um codigo será enviado para seu e-mail</p>
        </div>
        <div class="campo-input">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="Digite seu e-mail">
        </div>
        <div class="botoes">
            <button type="submit" class="botao">Redefinir senha</button>
            <a href="login.html" class="voltar">Voltar para login</a>
        </div>
    </form>
</body>

</html>